@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.all-timelines {
  max-width: 90vw;
  margin-left: -2vw;
  column-gap: 2vw;
  column-count: 3;
  padding-bottom: 5vw;
}

.all-timlines-title {
  margin-top: 4vw;
}

.timeline {
  background-color: white;
  display: inline-block;
  margin-bottom: 1vw;
  width: 24vw;
  box-shadow: 0 0 20px rgba(0,0,0, 0.2);
  border-radius: 10px;
  padding: 1vw;
  height: fit-content;
}
